In [1]:
import pandas as pd

In [2]:
dist_df = pd.read_csv('/home/daniel/Documents/Uni/MT/training_logs/dense/CV_3/GAT/distances.csv')

In [10]:
dist_df.groupby('fold')['dist'].describe(percentiles=[0.25, 0.5, 0.75, 0.9, 0.95, 0.99])

,count,mean,std,min,25%,50%,75%,90%,95%,99%,max
fold,,,,,,,,,,,
0,2070.0,4.267301,7.284046,0.213091,1.857633,2.803677,4.025156,5.726914,7.915373,50.471785,65.912842
1,1702.0,3.119118,1.938371,0.232898,1.835904,2.762444,3.876872,5.382170,6.445411,10.151473,17.382536
2,1725.0,3.216937,4.659415,0.315936,1.695956,2.430257,3.442582,5.058001,6.272799,29.338814,60.439892
3,1725.0,3.312405,4.444203,0.223406,1.793132,2.581135,3.657462,5.011233,6.442719,18.676279,62.659679
4,1725.0,2.699187,1.554007,0.147826,1.619091,2.377016,3.430211,4.629140,5.759072,7.679197,11.746972

In [6]:
dist2_df = pd.read_csv('/home/daniel/Documents/Uni/MT/training_logs/dense/CV_2/GAT/distances.csv')

In [12]:
dist2_df.groupby('fold')['dist'].describe(percentiles=[0.25, 0.5, 0.75, 0.9, 0.95, 0.99])

,count,mean,std,min,25%,50%,75%,90%,95%,99%,max
fold,,,,,,,,,,,
0,3220.0,4.616936,7.594188,0.042317,1.884077,2.882316,4.226200,6.680463,11.065629,50.391891,65.609032
1,2530.0,3.030417,2.138325,0.116700,1.685799,2.523910,3.766493,5.297983,6.668600,11.847229,20.846964
2,2576.0,3.055377,3.896911,0.132519,1.640123,2.432742,3.472583,4.875482,6.053824,12.217743,59.718704
3,2714.0,3.861221,5.351828,0.154299,1.825844,2.732811,3.999368,5.931891,9.343652,30.454483,62.094761
4,2599.0,2.854262,1.842669,0.084356,1.685993,2.445271,3.536356,4.909323,6.226311,10.001325,19.688337